<div>
    <label for="<%= id %>" class="field-label"><%= label %></label>
    <input id="<%= id %>" type="<%= type %>" 
        required="" placeholder="<%= "placeholder" in locals ? placeholder : "" %>">
</div>
