<h2 class="text-3xl font-bold text-center mb-6 text-white"><%= problem.name %></h2>

<div id="result"></div>
<br>
<div class="space-y-6 outline p-6 rounded-lg">
    <div class="text-gray-100">
        <%- problem.problemStatement %>
    </div>
    
    <div>
        <h4 class="font-bold text-white text-lg mb-2">INPUT FORMAT:</h4>
        <div class="text-gray-200"><%- problem.inputFormat %></div>
    </div>
    
    <div>
        <h4 class="font-bold text-white text-lg mb-2">OUTPUT FORMAT:</h4>
        <div class="text-gray-200"><%- problem.outputFormat %></div>
    </div>

    <% for (let i = 0; i < problem.numSampleTestcases; i++) { %>
        <% if (i > 0) { %>
            <br><br>
        <% } %>
        <div>
            <h4 class="font-bold text-white text-lg mb-2">SAMPLE INPUT:</h4>
            <div class="font-mono text-gray-200">
                <% for (const line of problem.inputTestcases[i].split("\n")) { %>
                    <div><%= line %></div>
                <% } %>
            </div>
        </div>
        
        <div>
            <h4 class="font-bold text-white text-lg mb-2">SAMPLE OUTPUT:</h4>
            <div class="font-mono text-gray-200">
                <% for (const line of problem.outputTestcases[i].split("\n")) { %>
                    <div><%= line %></div>
                <% } %>
            </div>
        </div>
    <% } %>
</div>
<br>
<p class="text-white text-lg mb-4">Write code below:</p>
<div id="container">
    <pre id="editor"></pre>
</div><br>

<%- include("partials/button", { id: "submit-button", small: true, text: "Submit" }) %>

<style>
ul { list-style: disc; padding-left: 2.5rem; }
ol { list-style: decimal; padding-left: 2.5rem; }
</style>