<div>
    <label for="<%= id %>" class="text-lg font-semibold text-white mb-2 block"><%= label %></label>
    <input id="<%= id %>" type="<%= type %>" 
        class="w-full text-lg p-3 rounded-lg bg-gray-600 text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:bg-gray-500 border border-gray-500 transition-all duration-200" 
        required="" placeholder="<%= typeof placeholder != "undefined" ? placeholder : "" %>">
</div>